body {body {
    text-align: center;
    padding-top: 50px;
    background: linear-gradient(1000deg, rgb(18, 1, 82), rgb(195, 0, 255));
    }
    
    button {
    background-color: #ffffff;
    color: rgb(0, 0, 0);
    font-size: 24px;
    font-weight: bold;
    padding: 20px 40px;
    border: none;
    border-radius: 50px;
    cursor: pointer;
    margin: 20px;
    }
    
    button:hover {
    background-color: #ff9999;
    color: #ffffff;
    }

   iframe {
    margin: 0 auto;
    width: 50%;
    display: flex;
   }
